[run]
branch = True
omit =
	*/tests.py
	*/migrations/*
	labshare/asgi.py
	labshare/wsgi.py
	labshare/settings.py
	labshare/management/commands/update.py
	labshare/backends/mail/open_smtp.py
	labshare/backends/authentication/ldap.py
	labshare/admin.py
source = labshare
