{% extends "base.html" %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-8 mt-5">
            <div class="card">
                <img src="https://cdna.artstation.com/p/assets/images/images/014/840/846/large/damian-kuk-1.jpg?1545839822" class="card-img-top" alt="GPU Image">
                <div class="card-body">
                    <h2 class="card-title">Please Sign In</h2>

                    {% if form.errors %}
                        <div class="alert alert-danger alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times</button>
                            Your username and password didn't match. Please try again.
                        </div>
                    {% endif %}

                    {% if next %}
                        {% if user.is_authenticated %}
                            <div class="alert alert-danger alert-dismissable">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times</button>
                                Your account doesn't have access to this page. To proceed, please login with an account that has access.
                            </div>
                        {% else %}
                            <div class="alert alert-danger alert-dismissable">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times</button>
                                Please login to see this page.
                            </div>
                        {% endif %}
                    {% endif %}

                    <form method="post" role="form" action="{% url "login" %}" class="mt-5">
                        {% csrf_token %}
                        <div class="form-group">
                            <input class="form-control" id="id_username" placeholder="Username" name="username" type="text" value="">
                        </div>
                        <div class="form-group">
                            <input class="form-control" id="id_password" placeholder="Password" name="password" type="password" value="">
                        </div>
                        <div class="form-check">
                            <label>
                                <input name="remember" type="checkbox" class="form-check-input" value="Remember Me" id="remember-me-check">
                                <label class="form-check-label" for="remember-me-check">Remember Me</label>
                            </label>
                        </div>
                        <!-- Change this to a button or input when using this as a form -->
                        <input type="submit" class="btn btn-success" value="Sign In" />
                        <input type="hidden" name="next" value="{{ next }}" />
                    </form>
                    <div class="mt-2"><a href="{% url 'password_reset' %}">Lost password?</a></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
