{% extends "base.html" %}

{% load staticfiles %}
{% load icon %}
{% load bootstrap4 %}

{% block extra_css %}
    <!-- DataTables CSS -->
    <link href="{% static "node_modules/datatables.net-bs4/css/dataTables.bootstrap4.min.css" %}" rel="stylesheet">

    <style>
        .action-button-appearance {
            min-width: 85px;
        }

        .device-heading-btn {
            border-color: transparent;
        }

        .device-heading-btn:focus {
            box-shadow: none;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="col-lg-12" id="gpu-overview">
        {% for device in devices %}
            <div class="card m-3">
                <div class="card-header p-0" id="{{ device.name }}_heading">
                    <button class="btn btn-block device-heading-btn p-3" type="button" data-toggle="collapse"
                            data-target="#{{ device.name }}_collapse" aria-expanded="true"
                            aria-controls="{{ device.name }}_collapse">
                        {{ device.name }}
                    </button>
                </div>
                <div id="{{ device.name }}_collapse" class="collapse" aria-labelledby="{{ device.name }}_heading">
                    <div class="card-body">
                        <table class="table table-sm" id="overview-table">
                            <thead>
                            <tr>
                                <th class="w-20">GPU</th>
                                <th class="w-20">Memory Usage</th>
                                <th class="w-20">Utilization</th>
                                <th class="w-20">Processes</th>
                                <th class="w-20">Last Update</th>
                            </tr>
                            </thead>
                            <tbody style="background-color: #fff;">
                            {% for gpu in device.gpus.all %}
                                <tr id="{{ gpu.uuid }}" class="alert">
                                    <td class="text-truncate align-middle">{{ gpu.model_name }}</td>
                                    <td class="text-truncate align-middle gpu-memory">- MiB / - MiB</td>
                                    <td class="text-truncate align-middle gpu-utilization">0 %</td>
                                    <td class="text-truncate align-middle gpu-processes">
                                        <button class="gpu-process-show btn btn-block btn-sm btn-info" disabled data-device="{{ device.name }}" data-gpu-uuid="{{ gpu.uuid }}">0 Processes</button>
                                    </td>
                                    <td class="text-truncate align-middle gpu-last-update">--</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div id="templates" class="d-none">
        {% include "process_list_base.html" %}
        {% include "process_list_body.html" %}
    </div>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static 'node_modules/reconnectingwebsocket/reconnecting-websocket.min.js' %}"></script>
    <script src="{% static 'node_modules/pluralize/pluralize.js' %}"></script>
    <script src="{% static 'node_modules/timeago/jquery.timeago.js' %}"></script>

    <script type="module">
        const deviceNames = [{% for device in devices %}"{{ device.name }}"{% if not forloop.last %},{% endif %}{% endfor %}];
        const currentUser = "{{ user.username }}";
        $.timeago.settings.strings.seconds = "some seconds";

        import setUpWebsockets from '{% static "js/data_parser.js" %}';

        $(document).ready(function() {
            setUpWebsockets(deviceNames, currentUser);
        });
    </script>
{% endblock %}
