<div class="modal fade" id="gpu-proc-list-{{ gpu_id }}" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Process list</h4>
            </div>
            <div class="modal-body">
                {% for process in processes %}
                    <div class="panel panel-default">
                        <div class="panel-heading show-no-overflow">
                            {{ process.name }}
                        </div>
                        <div class="panel-body">
                            <ul class="list-group">
                                <li class="list-group-item show-no-overflow">PID: {{ process.pid }}</li>
                                <li class="list-group-item show-no-overflow">User: {{ process.username }}</li>
                                <li class="list-group-item show-no-overflow">Memory Usage: {{ process.memory_usage }}</li>
                            </ul>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

