{% extends "base.html" %}

{% block content %}
    <div class="row">
        <h2>Reserve the next available Spot on a device.</h2>
    </div>
    <div class="row">
        <form id="reserve-form" class="form-horizontal" action="{% url "reserve" %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="next-available-spot" value="false">
            <div class="form-group">
                <label for="selectDevice" class="col-sm-2 control-label">Device</label>
                <div class="col-sm-10">
                    <select class="form-control" id="selectDevice" name="device">
                        {% for name, option in form.fields.device.choices %}
                            <option value="{{ name }}">{{ option }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="selectGPU" class="col-sm-2 control-label">GPU</label>
                <div class="col-sm-10">
                    <select class="form-control" id="selectGPU" name="gpu" disabled>
                    </select>
                </div>
            </div>
            <div class="form-group hidden" id="gpu-info">
                <div class="col-sm-offset-2 col-sm-10">
                    <span class="help-block">
                        <div class="panel panel-default">
                            <div class="panel-heading">GPU Info</div>
                            <div class="panel-body">
                                <ul class="list-group">
                                    <li class="list-group-item">Free Memory: <span id="gpu-info-free"></span> </li>
                                    <li class="list-group-item">Used Memory: <span id="gpu-info-used"></span></li>
                                    <li class="list-group-item">Total Memory: <span id="gpu-info-total"></span></li>
                                    <li class="list-group-item">Current User: <span id="gpu-info-user"></span></li>
                                </ul>
                            </div>
                        </div>
                    </span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary" id="reserve-button" disabled>Reserve</button>
                    <button class="btn btn-success" id="next-available-spot-btn">Give me the next available spot on this device</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript">

        function get_gpus(deviceSelect, gpuSelect) {
            var selectedDevice = deviceSelect.find(":selected").val();
            $.get("{% url "gpus_for_device"%}?device_name=" + selectedDevice, {}, function(data, textStatus, jqXHR) {
                gpuSelect.children().remove();
                var gpus = JSON.parse(data)["gpus"];
                $.each(gpus, function(index, element) {
                    var option = $('<option>' , {
                        value: element.id,
                        text: element.name
                    });
                    gpuSelect.append(option);
                });
                gpuSelect.prop("disabled", false);
                $('#reserve-button').prop("disabled", false);
                gpuInfo.removeClass("hidden");
                update_gpu_info();
            });
        }

        function update_gpu_info() {
            var selectedGPU = gpuSelect.find(":selected").val();

            if (typeof selectedGPU == "undefined") {
                gpuInfo.addClass("hidden");
                return;
            }

            $.get("{% url "gpu_info" %}?uuid=" + selectedGPU, {}, function(data, textStatus, jqXHR) {
                data = JSON.parse(data);
                $("#gpu-info-free").html(data["free"]);
                $("#gpu-info-used").html(data["used"]);
                $("#gpu-info-total").html(data["total"]);
                $('#gpu-info-user').html(data["user"]);
            });
        }

        var deviceSelect = $('#selectDevice');
        var gpuSelect = $('#selectGPU');
        var gpuInfo = $('#gpu-info');
        get_gpus(deviceSelect, gpuSelect);

        deviceSelect.change(function() {
            get_gpus(deviceSelect, gpuSelect);
        });

        gpuSelect.change(function() {
            update_gpu_info();
        });

        $("#next-available-spot-btn").on('click', function (event) {
            var form = $("#reserve-form");
            form.find("input[name='next-available-spot']").attr("value", "true");
            form.submit();
        });

    </script>
{% endblock %}