{% extends "base.html" %}

{% block content %}
    <div class="row mt-3">
        <h1>Reserve the next available Spot on a device</h1>
    </div>
    <div class="row mt-5">
        <form id="reserve-form" class="w-100" action="{% url "reserve" %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="next-available-spot" value="false">
            <div class="form-group row">
                {%  if form.device.errors %}
                    <div class="alert alert-danger" role="alert">
                        <ul class="list-unstyled">
                            {% for error in form.device.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                <label for="selectDevice" class="col-2 col-form-label">Device</label>
                <div class="col-10">
                    <select class="form-control" id="selectDevice" name="device">
                        {% for name, option in form.fields.device.choices %}
                            <option value="{{ name }}">{{ option }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group row">
                {%  if form.gpu.errors %}
                    <div class="alert alert-danger" role="alert">
                        <ul class="list-unstyled">
                            {% for error in form.gpu.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
                <label for="selectGPU" class="col-2 col-form-label">GPU</label>
                <div class="col-10">
                    <select class="form-control" id="selectGPU" name="gpu" disabled>
                    </select>
                </div>
            </div>
            <div class="form-group row d-none" id="gpu-info">
                <div class="col-2"></div>
                <div class="col-10">
                    <div class="card">
                        <div class="card-header">GPU Info</div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Used Memory: <span id="gpu-info-used"></span></li>
                            <li class="list-group-item">Total Memory: <span id="gpu-info-total"></span></li>
                            <li class="list-group-item">Current User: <span id="gpu-info-user"></span></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-2"></div>
                <div class="col-10">
                    <button type="submit" class="btn btn-primary" id="reserve-button" disabled>Reserve</button>
                    <button class="btn btn-success" id="next-available-spot-btn">Give me the next available spot on this device</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script type="text/javascript">

        function get_gpus(deviceSelect, gpuSelect) {
            const selectedDevice = deviceSelect.find(":selected").val();
            $.get("{% url "gpus_for_device"%}?device_name=" + selectedDevice, {}, (data) => {
                gpuSelect.children().remove();
                const gpus = JSON.parse(data)["gpus"];
                $.each(gpus, function(index, element) {
                    const option = $('<option>' , {
                        value: element.id,
                        text: element.name
                    });
                    gpuSelect.append(option);
                });
                gpuSelect.prop("disabled", false);
                $('#reserve-button').prop("disabled", false);
                gpuInfo.removeClass("d-none");
                update_gpu_info();
            });
        }

        function update_gpu_info() {
            const selectedGPU = gpuSelect.find(":selected").val();

            if (typeof selectedGPU === "undefined") {
                gpuInfo.addClass("d-none");
                return;
            }

            $.get("{% url "gpu_info" %}?uuid=" + selectedGPU, {}, (data) => {
                data = JSON.parse(data);
                $("#gpu-info-used").html(data["used"]);
                $("#gpu-info-total").html(data["total"]);
                $('#gpu-info-user').html(data["user"]);
            });
        }

        const deviceSelect = $('#selectDevice');
        const gpuSelect = $('#selectGPU');
        const gpuInfo = $('#gpu-info');
        get_gpus(deviceSelect, gpuSelect);

        deviceSelect.on('change',() => {
            get_gpus(deviceSelect, gpuSelect);
        });

        gpuSelect.on('change', () => {
            update_gpu_info();
        });

        $("#next-available-spot-btn").on('click', () => {
            const form = $("#reserve-form");
            form.find("input[name='next-available-spot']").attr("value", "true");
            form.submit();
        });

    </script>
{% endblock %}
