{% extends "base.html" %}

{% load staticfiles icon %}
{% load staticfiles %}
{% load bootstrap4 %}

{% block extra_css %}
    <link href="{% static "node_modules/select2/dist/css/select2.min.css" %}" rel="stylesheet" />
{% endblock %}

{% block content %}
    <h1 class="page-header mt-3">Send Message</h1>

    <form action="{% url 'send_message' %}" method="POST" class="mt-5">
        {% csrf_token %}
        {% if user.is_staff %}
            {% bootstrap_field form.message_all_users %}
        {% endif %}
        {% bootstrap_field form.recipients %}
        {% bootstrap_field form.subject %}
        {% bootstrap_field form.message %}
        {% buttons %}
            <button type="submit" class="btn btn-primary">
				{% icon "envelope-closed" %} Send
			</button>
        {% endbuttons %}
    </form>
{% endblock %}

{% block scripts %}
    {{ block.super }}
    <script src="{% static "node_modules/select2/dist/js/select2.min.js" %}"></script>

    <script>
        $('#recipients-field').select2();
    </script>
{% endblock %}
